.1_2 { 
	overflow:hidden;
}
.e1_2 { 
	background-color:rgba(0, 0, 0, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}
.e18_14 { 
	width:388px;
	height:840px;
	position:absolute;
	left:766px;
	top:120px;
	background-image:url(/images/options_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e18_25 { 
	width:138.90908813476562px;
	height:4px;
	position:absolute;
	left:891px;
	top:949px;
	background-image:url(/images/home_indicator_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e18_16 { 
	width:138px;
	height:53px;
	position:absolute;
	left:777px;
	top:122px;
}
.e18_17 { 
	color:rgba(0, 0, 0, 1);
	width:28.573959350585938px;
	height:21.592592239379883px;
	position:absolute;
	left:40.09923553466797px;
	top:18px;
	font-family:SF Pro;
	text-align:center;
	font-size:17px;
	letter-spacing:0;
	line-height:px;
}
.e18_18 { 
	width:138px;
	height:53px;
	position:absolute;
	left:1031px;
	top:129px;
}
.e18_19 { 
	width:16px;
	height:10px;
	position:absolute;
	left:17px;
	top:15px;
	background-image:url(/images/cellular_connection_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e18_20 { 
	width:13px;
	height:10px;
	position:absolute;
	left:40px;
	top:15px;
	background-image:url(/images/wifi__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e18_21 { 
	width:22px;
	height:11px;
	position:absolute;
	left:60px;
	top:14px;
	background-image:url(/images/battery__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e18_22 { 
	color:rgba(0, 0, 0, 1);
	width:316px;
	height:255px;
	position:absolute;
	left:802px;
	top:673px;
	font-family:Gothic A1;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e18_23 { 
	width:279px;
	height:279px;
	position:absolute;
	left:821px;
	top:383px;
	background-image:url(/images/a_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e18_24 { 
	width:467px;
	height:920px;
	position:absolute;
	left:727px;
	top:80px;
	background-image:url(/images/iphone_15_pro___black_titanium___portrait.png);
	background-repeat:no-repeat;
	background-size:cover;
}
