.7_15 { 
	overflow:hidden;
}
body { 
	
	width: 1920px;
	height: 1080px;
    background-color:rgba(0,0,0,1);
    margin: 0;
    padding: 0;
    border: 0;
	transform: translate(-50%, -50%);
}

.e13_36 { 
	width:279px;
	height:604px;
	position:absolute;
	left: 50%;
	top: 50%;
	background-image:url(/images/options_2.png);
	background-repeat:no-repeat;
	background-size:cover;
	margin: 0;
	transform: translate(-50%, -50%);

}
.e7_36 { 
	width:99px;
	height:38px;
	position:absolute;
	left: 50%;
	top: 50%;
	margin: 0;
	transform: translate(-50%, -50%);

}
.e7_37 { 
	color:rgba(0, 0, 0, 1);
	width:20.49871063232422px;
	height:15.481481552124023px;
	position:absolute;
	left: 50%;
	top: 50%;
	font-family:SF Pro;
	text-align:center;
	font-size:17px;
	letter-spacing:0;
	line-height:px;
	margin: 0;
	transform: translate(-50%, -50%);
}
.e7_38 { 
	width:99px;
	height:38px;
	position:absolute;
	left: 50%;
	top: 50%;
	margin: 0;
	transform: translate(-50%, -50%);
}
.e12_21 { 
	width:16px;
	height:10px;
	position:absolute;
	left: 50%;
	top: 50%;
	background-image:url(/images/cellular_connection_1.png);
	background-repeat:no-repeat;
	background-size:cover;
	margin: 0;
	transform: translate(-50%, -50%);
}
.e12_20 { 
	width:13px;
	height:10px;
	position:absolute;
	left: 50%;
	top: 50%;
	background-image:url(/images/wifi__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
	margin: 0;
	transform: translate(-50%, -50%);
}
.e12_19 { 
	width:22px;
	height:11px;
	position:absolute;
	left: 50%;
	top: 50%;
	background-image:url(/images/battery__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
	margin: 0;
	transform: translate(-50%, -50%);
}
.e7_21 { 
	color:rgba(0, 0, 0, 1);
	width:246px;
	height:16px;
	position:absolute;
	left: 50%;
	top: 50%;
	font-family:Gothic A1;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
	margin: 0;
	transform: translate(-50%, -50%);
}
.e7_22 { 
	width:217.6666666666667px;
	height:251.6666666666667px;
	position:absolute;
	left: 50%;
	top: 50%;
	background-image:url(/images/a_1.png);
	background-repeat:no-repeat;
	background-size:cover;
	margin: 0;
	transform: translate(-50%, -50%);
}
.e7_35 { 
	width:336px;
	height:662px;
	position:absolute;
	left: 50%;
	top: 50%;
	background-image:url(/images/iphone_15_pro___black_titanium___portrait.png);
	background-repeat:no-repeat;
	background-size:cover;
	margin: 0;
	transform: translate(-50%, -50%);
}
